<header class="title">
    <h2>The Lignin Bacterial Database</h1>
 </header>
 <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Organisms</a></li>
        <li><a href="#">Upload</a></li>
        <li><a href="/taxonomytbdata">Advance Search</a></li>
        <li><a href="#">About / Contact</a></li>
      </ul>
    </nav>
    <div class="search-bar">
        <form action="search" method="get">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
 </header>